/*contenedor del componente*/
.empresa{
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    gap: 3rem;
    background-image: url("/bg.webp");
    background-position: center;
    background-size: cover;
    background-repeat: repeat;
    background-attachment: fixed;
}

/*contenedor de imagen*/
.empresa picture{
    width: 600px;
    height: auto;
}

/*imagen de la empresa*/
.empresa picture img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*contenedor de titulo y texto*/
.empresa article{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

/*titulo*/
.empresa article h2{
    font-family: var(--title);
    font-size: clamp(2.5rem, 0.7821rem + 2.6816vw, 4rem);
    font-weight: 400;
    color: var(--negro);
    text-align: center;
}

/*linea*/
.empresa-line{
    height: 3px;
    width: 200px;
    background: var(--gradient);
    margin: 0.5rem 0;
}

/*texto*/
.empresa article p{
    font-family: var(--text);
    font-size: clamp(1.1rem, 0.8709rem + 0.3575vw, 1.3rem);
    font-weight: 400;
    max-width: 700px;
    text-align: center;
}

/*texto destacado*/
.empresa article p span{
    font-style: italic;
    font-weight: 450;
}

/*diseño responsive*/
@media (max-width: 1440px){

    .empresa{
        padding: 3rem 1rem;
        gap: 1rem;
    }

    .empresa article p{
        max-width: 550px;
    }
}

@media (max-width: 1025px){

    .empresa{
        padding: 3rem 1.5rem;
        flex-direction: column-reverse;
        gap: 3rem;
    }

    .empresa article p{
        max-width: 580px;
        font-size: 1.2rem;
    }

    .empresa picture{
        max-width: 550px;
        width: auto;
        height: auto;
    }
}

@media (max-width: 768px){

    .empresa{
        padding: 5rem 1rem;
    }
    
    .empresa article h2{
        font-size: 2.2rem;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .empresa article p{
        max-width: 600px;
        font-size: 1.1rem
    }
}

@media (max-width: 480px){

    .empresa article h2{
        font-size: 1.8rem;
    }

    .empresa article p{
        max-width: 95%;
        font-size: 1rem
    }
}